# API KEY

# Cari: Telegram Bot API
TELEGRAM_BOT_API_KEY = 
# Cari: Gemini LLM API 
GEMINI_API_KEY = 

# DATABASE Postgresql, sesuaikan dengan database Postgre Anda:
PASSWORD_POSTGRESQL = 
NAMA_DATABASE = 
USER_DATABASE = 